<!-- Container for responsiveness -->
<div class="estimate-container px-4 pt-4 pb-6 sm:p-6 max-w-[300mm] mx-auto bg-white" [id]="'estimate-paper-' + index">
  <div class="border border-gray-400 rounded shadow-md p-4 sm:p-6 bg-white print:border-none print:shadow-none">
    <!-- Header -->
    <div class="flex flex-col sm:flex-row sm:items-end sm:justify-between gap-4 px-2">
       <div class="w-[200px] flex items-center">
            <!-- <div class="h-[100%] w-[100%]"> -->
            <img src="assets/images/logo2.png" class="h-3/4 w-3/4" alt="">
            <!-- </div> -->
            <img src="assets/images/logo.png" class="h-full w-full" alt="">
        </div>

      <div class="text-sm sm:text-base text-center sm:text-center">
        <p>
          <strong>Prop:</strong> {{ quotation.proprietor }}<br />
          {{quotation.city}}, <br />
          {{ quotation.address }}<br />
          <strong>MOBILE:</strong> {{ quotation.mobile }}
        </p>
        <div class="flex items-center justify-center sm:justify-center mt-2">
           <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="23" height="23" class="mt-1 mr-1" viewBox="0 0 50 50">
        <path d="M 16 3 C 8.8324839 3 3 8.8324839 3 16 L 3 34 C 3 41.167516 8.8324839 47 16 47 L 34 47 C 41.167516 47 47 41.167516 47 34 L 47 16 C 47 8.8324839 41.167516 3 34 3 L 16 3 z M 16 5 L 34 5 C 40.086484 5 45 9.9135161 45 16 L 45 34 C 45 40.086484 40.086484 45 34 45 L 16 45 C 9.9135161 45 5 40.086484 5 34 L 5 16 C 5 9.9135161 9.9135161 5 16 5 z M 37 11 A 2 2 0 0 0 35 13 A 2 2 0 0 0 37 15 A 2 2 0 0 0 39 13 A 2 2 0 0 0 37 11 z M 25 14 C 18.936712 14 14 18.936712 14 25 C 14 31.063288 18.936712 36 25 36 C 31.063288 36 36 31.063288 36 25 C 36 18.936712 31.063288 14 25 14 z M 25 16 C 29.982407 16 34 20.017593 34 25 C 34 29.982407 29.982407 34 25 34 C 20.017593 34 16 29.982407 16 25 C 16 20.017593 20.017593 16 25 16 z"></path>
        </svg>
          <span>rishi_interior_shiva</span>
        </div>
      </div>
    </div>

    <!-- Main Work Table -->
    <div class="overflow-x-auto mt-4">
        

    <!-- Customer Info -->
    <table class="w-full mt-5 text-xs sm:text-sm border border-gray-400 border-collapse">
      <tr>
        <td class="border border-gray-400 p-2 font-semibold">CUSTOMER NAME:  <span *ngIf="isPrint">{{ quotation.customerName }}</span>
      <input *ngIf="!isPrint" class="outline-none ml-2" type="text" [(ngModel)]="quotation.customerName">
  </td>
        <td class="border border-gray-400 p-2 font-semibold">MOBILE:
            <span *ngIf="isPrint">{{ quotation.cus_mobile }}</span>
            <input *ngIf="!isPrint" class="outline-none ml-2"  [(ngModel)]="quotation.cus_mobile" type="text"></td>
        <td class="border border-gray-400 p-2 font-semibold">DATE:
            <span *ngIf="isPrint">{{ quotation.date }}</span>
             <input *ngIf="!isPrint" class="outline-none ml-2" [(ngModel)]="quotation.date" type="date"></td>
      </tr>
    </table>
    
      <table class="w-full text-xs sm:text-sm border border-gray-400 border-collapse">
        <!-- <thead>
          <tr class="bg-gray-100">
            <th rowspan="2" class="border border-gray-400 px-1 py-1">S NO:</th>
            <th rowspan="2" class="border border-gray-400 px-1 py-1 min-w-[250px]">DESCRIPTION OF WORK</th>
            <th rowspan="2" class="border border-gray-400 px-1 py-1">Sq (in ₹)</th>
            <th colspan="3" class="border border-gray-400 px-1 py-1">TOT SQ FT</th>
            <th rowspan="2" class="border border-gray-400 px-1 py-1">AMOUNT</th>
          </tr>
          <tr class="bg-gray-100">
            <th class="border border-gray-400 px-1 py-1">Length (ft)</th>
            <th class="border border-gray-400 px-1 py-1">Breadth (ft)</th>
            <th class="border border-gray-400 px-1 py-1">Total (ft²)</th>
          </tr>
        </thead> -->
        <thead>
    <tr class="bg-gray-100">
      <th rowspan="2" class="w-[50px]">SL.NO</th>
      <th rowspan="2" class="w-[300px]">DESCRIPTION</th>
      <th rowspan="2">RATE</th>
      <th colspan="3">TOT SQ FT</th>
      <th rowspan="2">AMOUNT</th>
    </tr>
    <tr>
      <th>Length (ft)</th>
      <th>Breadth (ft)</th>
      <th>Total (ft²)</th>
    </tr>
  </thead>
        <tbody>
          <tr *ngFor="let item of quotation.works; let i = index">
            <td class="border border-gray-400 px-1 text-center">{{ item.sno }}</td>
            <!-- <td class="border border-gray-400 px-1 pt-1 pb-2">
                <span *ngIf="isPrint" style="font-size: 18px;"  class="outline-none w-full text-lg -pt-4 text-sm" >{{ item.description }}</span>
              <input *ngIf="!isPrint" [(ngModel)]="item.description" style="font-size: 18px;"  class="outline-none w-full text-lg -pt-4 text-sm" />
            </td> -->
            <td class="border border-gray-400 px-1 pt-1 pb-2">
                <span *ngIf="isPrint" style="font-size: 18px;" class="outline-none w-full text-lg -pt-4 text-sm">{{ item.description }}</span>
                <input *ngIf="!isPrint" [(ngModel)]="item.description" style="font-size: 18px;" class="outline-none w-full text-lg -pt-4 text-sm" />
            </td>

            <td class="border border-gray-400 px-1">
                  <span *ngIf="isPrint" style="font-size: 18px;"  class="outline-none w-full text-lg -pt-4 text-sm" >{{ item.rate }}</span>
              <input *ngIf="!isPrint" type="number" [(ngModel)]="item.rate" class="outline-none w-full px-1 text-sm" (input)="recalculate()" />
            </td>
            <td class="border border-gray-400 px-1">
                  <span *ngIf="isPrint" style="font-size: 18px;"  class="outline-none w-full text-lg -pt-4 text-sm" >{{ item.length }}</span>
              <input *ngIf="!isPrint" type="number" [(ngModel)]="item.length" class="outline-none w-full px-1 text-sm" (input)="recalculate()" />
            </td>
            <td class="border border-gray-400 px-1">
                  <span *ngIf="isPrint" style="font-size: 18px;"  class="outline-none w-full text-lg -pt-4 text-sm" >{{ item.breadth }}</span>
              <input *ngIf="!isPrint" type="number" [(ngModel)]="item.breadth" class="outline-none w-full px-1 text-sm" (input)="recalculate()" />
            </td>
            <td class="border border-gray-400 px-1 text-right">
              {{ item.length * item.breadth | number: '1.2-2' }}
            </td>
             <td class="border border-gray-400 px-1 text-right">
            {{
                (item.length && item.breadth)
                ? (item.length * item.breadth * item.rate)
                : item.rate
                | number: '1.2-2'
            }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Totals -->
    <div class="flex flex-col sm:flex-row justify-between items-end mt-6">
      <div></div>
      <div class="text-right text-sm sm:text-base">
        <p><strong>TOTAL:</strong> {{ quotation.total | number }}</p>
        <p><strong>SUB TOTAL:</strong> {{ quotation.subTotal | number }}</p>
      </div>
    </div>

    <div class="relative w-full mt-12">
        <!-- Wave Image -->
        <img class="w-full h-32 object-cover" src="assets/images/bottom-border.png" alt="">

        <!-- Centered Text Over Image -->
        <div class="absolute inset-0 flex flex-col space-y-3 items-center mt-14 justify-evenly text-white text-center px-4 text-base font-semibold leading-snug">
           <div>
             Modular Kitchen || Bed Room Cupboards || TV Showcase || Aluminium & Glass works <br>
            Fall Ceiling || Steel Works
           </div>
            <div class="w-full text-white text-center">
                <div>{{index + 1 }}</div>
            </div>
        </div>
    </div>

    

  </div>
</div>
