<div class="w-full flex justify-center items-center my-6 space-x-2">
    <button (click)="addEstimatePaper()" class="px-3 py-1 bg-blue-500 text-white rounded">Add</button>
    <button (click)="downloadPDF()" class="px-3 py-1 bg-red-500 text-white rounded">Download Full PDF</button>
</div>
<div #pdfContent>
    <div *ngFor="let item of estimatePapers; let i = index">
    <!-- <input [(ngModel)]="pageToRemove" type="number" min="1" class="px-2 py-1 border rounded w-24" placeholder="Page #" /> -->
    <app-estimate-paper 
        [isPrint]="isPrint"
        [index]="i"
        [startSerial]="getStartSerial(i)"
        [cumulativeTotal]="getCumulativeTotal(i)"
      ></app-estimate-paper>
    <button (click)="removeEstimatePaper(i)" class="ml-8 opacity-0 px-1 -mt-10 hover:opacity-100 bg-yellow-500 text-white rounded">Remove Page {{i+1}}</button>
    </div>
</div>